.header-bg {
  background-image: url(https://apod.nasa.gov/apod/image/2103/M8_HLA_F125wF160w_Nachman.jpg);
  margin: 0;
  /* height: 12vh; */
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
}

.gallery-page {
  position: relative;
  /* top: 12vh; */
}
