.bg-image {
	background-image: url(https://advancedtech.airliquide.com/sites/abt_at/files/styles/800x625/public/2016/12/06/mars-short-read-overlay1.jpg?itok=tZPadBNH);
	background-size: cover;
	background-position: center;
}
.backdrop {
	backdrop-filter: blur(5px);
}
.text-shadow {
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
