.bg-image {
	background-image: url(https://advancedtech.airliquide.com/sites/abt_at/files/styles/800x625/public/2016/12/06/mars-short-read-overlay1.jpg?itok=tZPadBNH);
	background-size: cover;
	background-position: center;
}
