body {
  margin: 0;
}

.puzzle {
  --puzzle-row: 3;
  --puzzle-col: 4;
  --puzzle-frag-width: calc(var(--puzzle-width) / var(--puzzle-col));
  --puzzle-frag-height: calc(var(--puzzle-height) / var(--puzzle-row));
  display: flex;
  flex-wrap: wrap;
  transition-duration: 0.5s;
}

.puzzle-base {
  --puzzle-gap: 2px;
  --border-rad-fragments: 5px;
  width: calc(
    var(--puzzle-width) + calc(var(--puzzle-col) * var(--puzzle-gap) * 2)
  );
  height: calc(
    var(--puzzle-height) + calc(var(--puzzle-row) * var(--puzzle-gap) * 2)
  );
}

.puzzle-victory {
  --puzzle-gap: 0;
  --border-rad-fragments: 0;
  width: calc(var(--puzzle-width));
  height: calc(var(--puzzle-height));
}

.fragment {
  --x-offset: calc(var(--x) * var(--puzzle-frag-width) * -1);
  --y-offset: calc(var(--y) * var(--puzzle-frag-height) * -1);
  width: var(--puzzle-frag-width);
  height: var(--puzzle-frag-height);
  order: var(--order);
  background: var(--puzzle-img) var(--x-offset) var(--y-offset) /
    var(--puzzle-width) var(--puzzle-height) no-repeat;
  margin: var(--puzzle-gap);
  border-radius: var(--border-rad-fragments);
  transition-duration: 0.5s;
}

button {
  margin: 20px;
  height: 40px;
  width: 40px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
}

#button-plus {
  background-color: lightblue;
}

#button-minus {
  background-color: lightcoral;
}
